@tailwind base;
@tailwind components;
@tailwind utilities;

.messages {
  animation-name: spin;
  animation-duration: 200ms;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
}

@keyframes spin {
  0% {
    scale: 0.98;
  }
  50% {
    scale: 1.02;
  }
  100% {
    scale: 1;
  }
}
